# INF161: Data Science: Course Project
### *Predicting how many people cycle over NygÃ¥rdsbroen at a given time*

> #### by [Mathias Svendsen]
>-------------------------------------------
> *Autumn 2022* 
----------------------------------------------------------------------------

<a id="top"></a> 

<h2> Part 2: Modelling and Predictions</h2>
    
#### *Notebook Index:*
1. [**Exploratory Data Analysis & Feature Engineering**](#analysis) <br>
    1.1 [*Splitting the dataset*](#analysis) <br>
    1.2 [*Exploring the concatenated traffic and weather data*](#traffic_data) <br>
    1.3 [*Further analysis with regards to the scaling of given data*](#scaling) <br>
    1.4 [*Correlation analysis*](#Correlation-analysis) <br>
    </div>
2. [**Modelling: First Iteration**](#feature-selection) <br>
    2.1 [*Scaling the data*](#scaling) <br>
    2.2 [*Linear Regression Models*](#linear_regression) <br>
    2.3 [*The Polynomial Model*](#polynomial_model) <br>
    2.4 [*K Nearest Neighbour*](#k_nearest_neighbour) <br>
    2.5 [*The Decision Tree Model](#decision_tree) <br>
    2.6 [*The Multi Layer Perceptron*](#mlp) <br>
3. [**Feature Engineering**](#feature-engineering) <br>
    3.1 [*Something...*](#comment) <br>
    3.2 [*Something...*](#comment) <br>
    3.3 [*Something...*](#comment) <br>
    3.4 [*Something...*](#comment) <br>
4. [**Final test and evaluation**](#saving) <br>
5. [**Actual Prediction**](#Prediction-model) <br>

In [41]:
# Importing notebook dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.dummy import DummyRegressor
from sklearn import utils
from sklearn.pipeline import make_pipeline


from sklearn.model_selection import train_test_split, ParameterGrid
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, QuantileTransformer, RobustScaler, StandardScaler, PowerTransformer, PolynomialFeatures
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.cross_decomposition import PLSRegression
from sklearn.multioutput import RegressorChain, MultiOutputRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LogisticRegression
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neural_network import MLPRegressor
from math import sqrt, ceil
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from collections import defaultdict
import warnings
import pickle
import copy

# Setting options
plt.style.use('ggplot')
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

# Setting random state for all estimators and functions that use randomization
random_state = 35

## <a id="analysis"></a>1) Exploratory Data Analysis

This section will consist of both modelling and predictions to further estimate how many people cycle over the bridge at a given time.

In [42]:
# Importing prepared data in .csv format

train_data_df = pd.read_csv('train_data.csv')
val_data_df   = pd.read_csv('val_data.csv')
test_data_df  = pd.read_csv('test_data.csv')

By running our imported dataframe we can see that some metadata has changed from Preparation.ipynb

In [43]:
train_data_df.head()

                    DT  Volum  Lufttemperatur  Vindstyrke  Solskinstid
0  2015-07-16 16:00:00    107       13.733333    4.333333         48.7
1  2015-07-16 17:00:00     84       13.866667    3.933333         60.0
2  2015-07-16 18:00:00     57       13.216667    4.233333         60.0
3  2015-07-16 19:00:00     49       12.683333    2.950000         60.0
4  2015-07-16 20:00:00     45       12.066667    2.483333         36.0

In [44]:
train_data_df.dtypes

DT                 object
Volum               int64
Lufttemperatur    float64
Vindstyrke        float64
Solskinstid       float64
dtype: object

Now, our datetime index has been reset. It is also of type Object and not datetime, which is not useful for our model. Hence, we update it so that it can be utilized accordingly:

In [45]:
train_data_df['DT'] = pd.to_datetime(train_data_df['DT'])
val_data_df['DT'] = pd.to_datetime(val_data_df['DT'])
test_data_df['DT'] = pd.to_datetime(test_data_df['DT'])

In [46]:
# Checking for any NaN-values before setting the index
train_data_df.isnull().any()

DT                False
Volum             False
Lufttemperatur    False
Vindstyrke        False
Solskinstid       False
dtype: bool

In [47]:
val_data_df.isnull().any()

DT                False
Volum             False
Lufttemperatur    False
Vindstyrke        False
Solskinstid       False
dtype: bool

In [48]:
test_data_df.isnull().any()

DT                False
Volum             False
Lufttemperatur    False
Vindstyrke        False
Solskinstid       False
dtype: bool

The data seems to be in order, which is necessary before proceeding to use it as input in our model

In [49]:
train_data_df

                       DT  Volum  Lufttemperatur  Vindstyrke  Solskinstid
0     2015-07-16 16:00:00    107       13.733333    4.333333         48.7
1     2015-07-16 17:00:00     84       13.866667    3.933333         60.0
2     2015-07-16 18:00:00     57       13.216667    4.233333         60.0
3     2015-07-16 19:00:00     49       12.683333    2.950000         60.0
4     2015-07-16 20:00:00     45       12.066667    2.483333         36.0
...                   ...    ...             ...         ...          ...
44820 2021-12-31 17:00:00      4        6.533333    1.250000          0.0
44821 2021-12-31 18:00:00      5        6.483333    0.466667          0.0
44822 2021-12-31 19:00:00      4        5.616667    2.650000          0.0
44823 2021-12-31 20:00:00      2        4.700000    1.916667          0.0
44824 2021-12-31 22:00:00      2        3.716667    0.600000          0.0

[44825 rows x 5 columns]

Now it's time to split our dataset into separate variables for the purpose of getting an efficient model.

By splitting the data into X and y variables, we can use that data to make our predictions more accurate. In this case, it makes sense to let X represent the weather conditions and y the amount of bikes (volume).

In [50]:
# New column representing each day of the week

train_data_df['weekday'] = train_data_df['DT'].dt.dayofweek

train_data_df

,DT,Volum,Lufttemperatur,Vindstyrke,Solskinstid,weekday
0,2015-07-16 16:00:00,107,13.733333,4.333333,48.7,3
1,2015-07-16 17:00:00,84,13.866667,3.933333,60.0,3
2,2015-07-16 18:00:00,57,13.216667,4.233333,60.0,3
3,2015-07-16 19:00:00,49,12.683333,2.950000,60.0,3
4,2015-07-16 20:00:00,45,12.066667,2.483333,36.0,3
...,...,...,...,...,...,...
44820,2021-12-31 17:00:00,4,6.533333,1.250000,0.0,4
44821,2021-12-31 18:00:00,5,6.483333,0.466667,0.0,4
44822,2021-12-31 19:00:00,4,5.616667,2.650000,0.0,4
44823,2021-12-31 20:00:00,2,4.700000,1.916667,0.0,4
44824,2021-12-31 22:00:00,2,3.716667,0.600000,0.0,4

In [51]:
# Splitting data and converting to numpy array for further manipulations
X_train = train_data_df.drop(['DT', 'Volum'], axis=1).to_numpy() 
y_train = train_data_df.drop(['DT', 'Lufttemperatur', 'Vindstyrke', 'Solskinstid', 'weekday'], axis=1).to_numpy()

X_val = train_data_df.drop(['DT', 'Volum'], axis=1).to_numpy() 
y_val = train_data_df.drop(['DT', 'Lufttemperatur', 'Vindstyrke', 'Solskinstid','weekday'], axis=1).to_numpy()

X_test = train_data_df.drop(['DT', 'Volum'], axis=1).to_numpy() 
y_test = train_data_df.drop(['DT', 'Lufttemperatur', 'Vindstyrke', 'Solskinstid','weekday'], axis=1).to_numpy()

In [52]:
# Combine training and validation data. It will be used for the re-training before predicting on test data. 
X_trainval = np.concatenate([X_train, X_val])
y_trainval = np.concatenate([y_train, y_val])

In [53]:
# Fortsett her

In [54]:
# Fortsett her

<br>

[*back to top*](#top) 
## <a id="1st-iteration"></a>2) Modelling: Iteration

This section will consist of testing, experimenting and implementing different models and further evalute the results. This includes but is not limited to different regression models for accurate predictions of the RMSE for our data. 

I will also implement and evaluate three different models part the baseline, which hopefully will generate preferred results.

### <a id="scaling"></a>2.1) Scaling the data

We want to scale our data in a manner such that it is easier to compare them. I've decided to scale the data together as a unit as it is easier to work with the data afterwards.

In [55]:
# Scaling with StandardScaler
standardscaler = StandardScaler()

# Fit on X_train, transform X_val and X_test
X_train_scaled = standardscaler.fit_transform(X_train)
X_val_scaled = standardscaler.transform(X_val)
X_test_scaled = standardscaler.transform(X_test)
X_trainval_scaled = standardscaler.transform(X_trainval)

# Fit on y_train, transform y_val and y_test
y_train_scaled = standardscaler.fit_transform(y_train)
y_val_scaled = standardscaler.transform(y_val)
y_test_scaled = standardscaler.transform(y_test)
y_trainval_scaled = standardscaler.fit_transform(y_trainval)

In [56]:
y_train_scaled.shape

(44825, 1)

In [57]:
# Calculate the 3 principal components for independent variables (X)
pca = PCA(n_components=3)
X_train_scaled = pca.fit_transform(X_train_scaled)
X_val_scaled = pca.transform(X_val_scaled)
X_test_scaled = pca.transform(X_test_scaled)
X_trainval_scaled = pca.fit_transform(X_trainval_scaled)

The baseline model is the initial value that is using a simple regression model to give an estimate.

In [58]:
# Creating the baseline model to estimate number of cyclists per hour
# The scaled data will not be used in this particular prediction
baseline = DummyRegressor(strategy="mean")
baseline.fit(X_train, y_train)
baseline_prediction = baseline.predict(X_val_scaled)

print('RMSE_baseline: ', np.round(np.sqrt(mean_squared_error(y_val, baseline_prediction)), decimals=2))

RMSE_baseline:  71.35

As we can deduce from the results above, the RMSE baseline is 71.53. Now it's time to compare this to other results with different models:

### <a id="linear_regression"></a>2.2) Linear Regression models

Now it's time to induce some multi-output regression models. This is because we have two variables in play; X (weather conditions) and y (volume of bicycles). The MultiOutputRegressor function from sklearn is a valuable asset here as it can be used to chain the different models together. Here we assume that the predictor variables are not dependent on each other. This is because ------- ?????

In [59]:
linreg_model = LinearRegression()
ridge_model = Ridge()
lasso_model = Lasso()
elasticnet_model = ElasticNet(max_iter=4000)

models = [linreg_model, lasso_model, ridge_model, elasticnet_model]


# Following code-snippet is from stackOverflow with smaller changes to fit models used
for model, modelname in zip(models, ["Linear Regression", "Lasso", "Ridge", "ElasticNet"]):
    # Training the model 
    model.fit(X_train_scaled, y_train_scaled)
    
    print(f"""--------------------------------------------------------------------------
    Predicting with {modelname}:""")
    # Prediction on training data
    train_predict = model.predict(X_train_scaled)
    r2_trainpred = r2_score(y_train_scaled, train_predict)
    print(f'R2 for predictions made on training data:', r2_trainpred)

    # Prediction on validation data
    val_predict = model.predict(X_val_scaled)
    r2_valpred = r2_score(y_val_scaled, val_predict)
    print(f'R2 for predictions made on validation data:', r2_valpred)

    # Calculating the RMSE for predictions made on validation data
    val_predict_unscaled = standardscaler.inverse_transform(val_predict.reshape(-1,1))
    
    print(f'RMSE for {modelname}: ', sqrt(mean_squared_error(val_predict_unscaled, y_val)))

--------------------------------------------------------------------------
    Predicting with Linear Regression:
R2 for predictions made on training data: 0.1959997886183209
R2 for predictions made on validation data: 0.1959997886183209
RMSE for Linear Regression:  63.98110180123987
--------------------------------------------------------------------------
    Predicting with Lasso:
R2 for predictions made on training data: 0.0
R2 for predictions made on validation data: 0.0
RMSE for Lasso:  71.35487229550104
--------------------------------------------------------------------------
    Predicting with Ridge:
R2 for predictions made on training data: 0.1959997885541528
R2 for predictions made on validation data: 0.1959997885541528
RMSE for Ridge:  63.98110180379308
--------------------------------------------------------------------------
    Predicting with ElasticNet:
R2 for predictions made on training data: 0.0
R2 for predictions made on validation data: 0.0
RMSE for ElasticNet:  71.35487229550104

Currently it seems like standard linear regression yields the best result among those chosen above.

In [60]:
# fortsett her----------

### <a id="polynomial_model"></a>2.3) Polynomial model

A polynomial model is useful for data that is...

In [61]:
model = make_pipeline(PolynomialFeatures(degree=2), LinearRegression())

model.fit(X_train_scaled, y_train_scaled)

val_predict = model.predict(X_val_scaled)

# unscaling
val_predict_not_scaled = standardscaler.inverse_transform(val_predict.reshape(-1,1))


print('RMSE Polynomial Model: ', np.round(np.sqrt(mean_squared_error(y_val, val_predict_not_scaled)),
                        decimals=2))

RMSE Polynomial Model:  63.06

The RMSE seems to be stabilizing around the 65-67 area for the models that we have utilized currently. Polynomial regression seems to be the best performer with a slight better performance than the linear regression models. But the results are still remarkably similar. The polynomial model tends to perform the best when there is no linear correlation between the variables.

In [62]:
X_train_scaled

array([[ 2.2867166 ,  0.1293476 ,  0.17144272],
       [ 2.72132315, -0.1661039 ,  0.0547452 ],
       [ 2.65817268, -0.03681575,  0.10108044],
       ...,
       [-0.72333837, -0.29002384,  0.35501222],
       [-0.87428721, -0.6100438 ,  0.19991563],
       [-1.06457949, -1.18357214, -0.06749217]])

### <a id="k_nearest_neighbour"></a>2.4) K Nearest Neighbours

For the K Nearest Neighbours model I will parameter tune my model with an iterative approach:

Note: Another solution would be using the sklearn.GridSearchCV() function, but it is not used here.

## knn_rmse = 100000 # setting the base RMSE to a ridicuolusly high number
best_k = None

for k in range(5, 16):
    
    knn = KNeighborsRegressor(n_neighbors=k)

    knn.fit(X_train_scaled, y_train_scaled)

    knn_predict = knn.predict(X_val_scaled)

    # unscaling
    knn_predict_not_scaled = standardscaler.inverse_transform(knn_predict.reshape(-1,1))
    
    
    new_rmse = np.round(np.sqrt(mean_squared_error(y_val, knn_predict_not_scaled)),
                        decimals=2)
    print(f"for {k} neighbours the rmse is: {new_rmse}")
    
    if new_rmse < knn_rmse:
        knn_rmse = new_rmse
        best_k = k

print(f"\nRMSE K nearest neighbour: {knn_rmse} for {best_k} neighbours")

From this, we can further deduce that by manually tuning our parameters our most efficient value for k is the lowest provided. But similarly having to few data points could provide false readings. Hence, we set it between 5 and 15 for this model.

### <a id="decision_tree"></a>2.5) The Decision Tree Model

In [64]:
dtm = DecisionTreeRegressor(random_state=random_state)

dtm.fit(X_train_scaled, y_train_scaled)

dtm_predict = dtm.predict(X_val_scaled)

# unscaling
dtm_predict_not_scaled = standardscaler.inverse_transform(dtm_predict.reshape(-1,1))

print('RMSE Decision Tree model: ', np.round(np.sqrt(mean_squared_error(y_val, dtm_predict_not_scaled)),
                        decimals=2))

RMSE Decision Tree model:  3.52

So here we have an anomaly. Technically the RMSE for the decision tree model outperforms every other model drastically. The datasets used in this model is equal to the ones used in earlier models. But even though the RMSE is remarkably low, this model cannot be used to estimate the number of cyclists. For some reason the data doesn't fit for this model. Hence, it is disregarded in the final analysis.

### <a id="mlp"></a>2.6) The Multi Layer Perceptron Model

In [ ]:
mlp =